<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' http://localhost:3000 https://cdnjs.cloudflare.com;">
    <title>E Agora?</title>
    <link rel="stylesheet" href="/css/index_styles.css">
    <script type="module" defer>
        import { ethers } from "/javascript/ethers.esm.js";
        // criando um provider com base em v6
        //let provider = new ethers.BrowserProvider(window.ethereum);
        let provider = new ethers.providers.Web3Provider(window.ethereum);

        // função que cria o os links;
        async function iniciandoPagina(numero,provider) {
            const div = document.getElementById('listaprevisoes'); // Get the div element
            div.innerHTML = ''; // Clear any existing content inside the div
                
            // Iterate over numbers 1 to 10
            let previsao;
            for (let i = 1; i <= numero; i++) {
                // pegando detalhes da previsao
                previsao = await contrato.getPrevisao(i);
                console.log(previsao);

                // Create a new div container for the link
                let linkContainer = document.createElement('div');

                // Add the specified class to the div
                linkContainer.classList.add('link-container');

                // Set the link destination for the whole container
                linkContainer.addEventListener('click', function() {
                    window.location.href = `/previsao/${i}`; // Redirect to the link
                });

                // Optionally, you can style the container to look like a link
                linkContainer.style.cursor = 'pointer'; // Make the container show as clickable (pointer cursor)

                // Set the content of the link (can be text or any HTML element)
                linkContainer.textContent = previsao[0];

                // Append the div container to the main div
                div.appendChild(linkContainer);

                // Optionally, add a line break after each link container
                div.appendChild(document.createElement('br'));
                //console.log(linkContainer);
            }
        }

        // Importando ABI do MercadoSimples
        const MercadoSimples = await fetch('/json/MercadoSimples.json');
        const MercadoSimplesJSON = await MercadoSimples.json();
        const MercadoSimplesABI = MercadoSimplesJSON["abi"];

        // Efetivamente contactando o contrato
        const contrato = new ethers.Contract(window.MercadoSimples, MercadoSimplesABI, provider);
        let result = await contrato.getNumeroDePrevisoes();
        let numeroPrevisoes = Number(result);
        console.log("getNumeroDePrevisoes: ", numeroPrevisoes);

        // populando a página com links
        await iniciandoPagina(numeroPrevisoes,provider);
    </script>
    <!--<script src="/javascript/index.js"></script>-->
    <script>
        window.MyToken = "<%= MyToken %>";
        window.MercadoSimples = "<%= MercadoSimples %>";
    </script>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="center">
        <h1>E Agora?</h1>
        <p>Um mercado de previsões opensource para quem quiser testar!</p>
        <div class="listaprevisoes" id="listaprevisoes">
        </div>
    </div>
</body>
</html>