<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com;">
    <title id="tituloDaPagina"></title>
    <link rel="stylesheet" href="/css/previsao_styles.css">
    <script src="/javascript/chart.umd.js"></script>
    <script src="/javascript/previsao.js"></script>
    
    <script type="module" defer>
        // variáveis de ambiente
        window.MyToken = "<%= MyToken %>";
        window.MercadoSimples = "<%= MercadoSimples %>";
        window.idDaPrevisao = "<%= idDaPrevisao %>";

        // Importando ethers
        import { ethers } from "/javascript/ethers.esm.js";
        //import { ethers } from "https://cdn.ethers.io/lib/ethers-5.0.umd.min.js";
        
        // Passando ethers para a função que de fato popula a página
        await preparaAmbiente(ethers);
    </script>
    <!--<script src="/javascript/index.js"></script>-->
    <script>
    </script>
</head>
<body>
    <h1 id="titulo"></h1>

    <div class="painel">
        <div class="descricaoPrevisao">
            <p id="descricao"></p>
            <p id="status"></p>
            <p id="votosSim"></p>
            <p id="votosNao"></p>
            <p id="totalSim"></p>
            <p id="totalNao"></p>
            <button class="button" onclick="InvestirSim()">Investir Sim</button>
            <button class="button" onclick="InvestirNao()">Investir Não</button>
        </div>
        <div>
            <canvas id="voteChart"></canvas>
        </div>
        <div>
            <canvas id="investmentChart"></canvas>
        </div>
    </div>
</body>
</html>